@font-face {font-family: 'social';src: url('../fonts/SocialMedia-ZxpB.ttf');}

html{
  font-size: 16px;
}

.container {
  max-width: 960px;
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.textIndex{
  padding: 10px;
  margin: 0px;
}

.textcard{
  padding: 10px;
  margin: 10px;
}

.social{ 
  font-family: social;
}

.btnCustom{
  background-color: rgba(57,247,203);
  color: #fff;
}

.btnCustomLine{
  background-color: white;
  border: 1px solid rgba(57,247,203);
  color: rgba(57,247,203);
}
.btnCustomLine:hover{
  background-color: rgba(57,247,203);
  color: #fff;
}

.btnCustom:hover{
  background-color: rgb(47, 201, 165);

  color: rgb(255, 255, 255);
}
.textCustom{
  color: rgb(57,247,203);
}


.marketing .per {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .per p {
  margin-right: .75rem;
  margin-left: .75rem;
}

#txtPri h1, #indexTextPri h1{
  color: rgba(57,247,203);
}

.b-example-divider{
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.featurette-divider {
  margin: 3rem 0;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
}

.flex-equal > * {
  flex: 1;
}

.cardBfond{
  height: 238px;
  width: 350px;
  border-radius: 25px;
  left: -14px;
}

.imgPer{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.figImagen{
  margin: auto;
  width: 250px;
  height: 250px;
}
.imgPerCard{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.figImagenCard{
  margin: auto;
  width: 750px;
  height: 250px;
}
.figbanner{
  width: 100%;
  height: 100%;
}

.index{
  z-index: -1;
}
.contenido{
  margin: 40px auto;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
  
}

@media (min-width: 640px) {
  .featurette-heading {
    font-size: 50px;
  }
  .textIndex{
    padding: 10px;
    margin: 65px 0;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  .cardBfond{
    height: 238px;
    width: 220px;
    border-radius: 25px;
    left: -14px;
  }
  .textIndex{
    padding: 20px;
    margin: 170px 0;
  }
  .imgPerCard{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .figImagenCard{
    margin: auto;
    width: 250px;
    height: 250px;
  }
}

@media (min-width : 1200px){
  .textIndex{
    padding: 20px;
    margin: 200px 0;
  }
}